@media (max-width: 768px) {
    body {
      padding: 5px;
      font-size: 14px;
    }
    .navbar, .footer {
      padding: 10px;
    }
    .navbar .menu a {
      margin-left: 8px;
      font-size: 14px;
    }
    .home-container h1 {
      font-size: 28px;
    }
    .content {
      padding: 10px;
    }
    .form, .login-container, .register-container, .account-container,
    .postlist-container {
      padding: 10px;
      max-width: 100%;
    }
  }
  